* {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
}
body {
  background-color: #ecf0f3;
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  height: 3000px;
  font-style: normal;
}
.left-menu {
  display: flex;
  gap: 12px;
  align-items: center;
  margin-right: 80px;
}
main {
  margin: 100px 284px;
}
.right-menu {
  display: flex;
  gap: 30px;
  margin-right: 80px;
}
.right-menu p {
  text-transform: uppercase;
  font-weight: 600;
  color: #3c3e41;
}
.right-menu p:hover {
  cursor: pointer;
}
header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  grid-template-columns: 1fr auto;
  padding: 20px 0px;
  background-color: #d1d9e6;
  width: 100%;
  position: fixed;
  left: 0;
  top: 0;
  z-index: 20;
}
.logo {
  display: flex;
  justify-content: center;
  align-items: center;
}
.logo img {
  width: 50px;
  height: 50px;
}
#home {
  display: flex;
  justify-content: center;
  flex-wrap: wrap-reverse;
  gap: 100px;
  padding-bottom: 40px;
  border-bottom: 1px #c4c4c4 solid;
}
.home-infor {
  display: flex;
  flex-direction: column;
  gap: 16px;
  flex: 1;
  max-width: 80%;
  min-width: 300px;
}
.welcome {
  font-size: 18px;
  font-weight: 600px;
  text-transform: uppercase;
  color: #3c3e41;
}
.welcome-name {
  font-size: 36px;
  display: flex;
  flex-wrap: wrap;
  gap: 12px;
}
.box-home-img {
  display: flex;
  justify-content: center;
  align-items: center;
}
.home-img {
  flex: 1;
  max-width: 500px;
  width: 80%;
  height: auto;
  min-width: 200px;
}
.welcome-career {
  font-size: 30px;
  display: flex;
  gap: 12px;
}
.home-infor-introduce {
  font-size: 16px;
  color: #3c3e41;
  margin-bottom: 52px;
}
.home-contact {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 50px;
}
.home-contact-item {
  display: flex;
  flex: 1;
  flex-direction: column;
  gap: 12px;
}
.home-contact-item p:nth-child(1) {
  text-transform: uppercase;
  font-weight: 500;
  font-size: 16px;
}
.box-contact-item {
  min-width: 300px;
  display: flex;
  justify-content: start;
  gap: 40px;
}
.box-contact-item div {
  background-color: #ebebeb;
  padding: 12px;
  box-shadow: 0px 2px 2px 3px #d3d3d3;
  width: 20px;
  height: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 8px;
}
#features {
  margin-top: 60px;
  display: flex;
  flex-direction: column;
  gap: 24px;
}
.features-title {
  color: #ff014f;
  text-align: center;
  font-size: 14px;
}
.features-header {
  font-size: 30px;
  text-align: center;
}
.features-container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 50px;
}
.features-box {
  min-width: 300px;
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 20px;
  border-radius: 16px;
  padding: 50px 32px;
  transition-duration: 1s;
  box-shadow: 5px 5px 15px #d1d9e6, -5px -5px 15px #ffffff;
}
.features-box:hover {
  cursor: pointer;
  transform: scale(1.05);
}
.features-box h3 {
  font-size: 22px;
  font-weight: 600;
  color: #282c30;
}
.features-box-icon {
  color: #ff014f;
  font-size: 30px;
}
#resume {
  margin-top: 50px;
  display: flex;

  flex-direction: column;
  gap: 40px;
}
.education-container {
  display: flex;
  flex-direction: column;
  gap: 30px;
}
.education {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 30px;
}
.education-box {
  display: flex;
  min-width: 300px;
  flex: 1;
  flex-direction: column;
  gap: 12px;
  border-radius: 16px;
  transition-duration: 2s;
  padding: 50px 32px;
  box-shadow: 5px 5px 15px #d1d9e6, -5px -5px 15px #ffffff;
}
.education-box:hover {
  cursor: pointer;
  background-color: #ff014f;
  color: #ffff;
  transform: scale(1.02);
}
.education-box-line {
  border: 1px solid #e4e2e2;
}
.education-stage {
  font-size: 14px;
}
.education-detail {
  font-size: 16px;
}
#contact {
  margin-top: 40px;
  display: flex;
  flex-direction: column;
  gap: 40px;
}
.contact-container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 20px;
}
.contact-my-infor {
  display: flex;
  flex: 1;
  flex-direction: column;
  gap: 18px;
  padding: 32px;
  border-radius: 12px;
  box-shadow: 5px 5px 15px #d1d9e6, -5px -5px 15px #ffffff;
}
.contact-box-img {
  flex: 1;
}
.contact-box-img img {
  border-radius: 20px;
  width: 100%;
}
.contact-box-name {
}
.contact-box-detail {
}
.contact-box-address {
}

.contact-your-infor {
  flex: 1;
  min-width: 300px;
  padding: 32px;
  border-radius: 12px;
  box-shadow: 5px 5px 15px #d1d9e6, -5px -5px 15px #ffffff;
}
.contact-box-infor-name {
  display: flex;
  justify-content: space-between;
  gap: 30px;
}
.contact-box-infor-name .contact-your-item {
  flex: 1;
}
.contact-box-infor-name p {
  font-size: 14px;
  font-weight: 500;
}
.contact-box-infor-name input {
  padding: 8px 4px;
  border-radius: 6px;
  width: 100%;
}
.contact-your-infor {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.contact-your-infor input {
  padding: 8px 4px;
  border-radius: 6px;
  width: 100%;
}
.contact-your-infor p {
  font-size: 14px;
  font-weight: 500;
}
.contact-your-infor textarea {
  height: 120px;
  width: 100%;
  border-radius: 6px;
}
.contact-your-item {
  display: flex;
  flex-direction: column;
  gap: 4px;
}
.contact-your-infor input:focus-within {
  outline-color: #ff014f;
}
.contact-your-infor textarea:focus-within {
  outline-color: #ff014f;
}
.contact-title {
  color: #ff014f;
  font-size: 14px;
  text-align: center;
}
.contact-header {
  font-size: 30px;
  text-align: center;
}
.btn-contact {
  transition-duration: 1s;
  padding: 12px;
  border-radius: 6px;
  box-shadow: 5px 5px 15px #d1d9e6, -5px -5px 15px #ffffff;
}
.btn-contact:hover {
  background-color: #ff014f;
  transform: translateY(-6px);
  color: #ffffff;
  cursor: pointer;
}
.tab {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.tab-education {
  min-width: 300px;
  font-size: 18px;
  font-weight: 600;
  border-radius: 8px;
  text-align: center;
  flex: 1;
  padding: 20px;
  box-shadow: 5px 5px 15px #d1d9e6, -5px -5px 15px #ffffff;
}
.tab-skill {
  min-width: 300px;
  font-size: 18px;
  font-weight: 600;
  text-align: center;
  border-radius: 8px;
  flex: 1;
  transition-duration: 1s;
  padding: 20px;
  box-shadow: 5px 5px 15px #d1d9e6, -5px -5px 15px #ffffff;
}
.tab-education:hover {
  color: #ff014f;
  cursor: pointer;
  transform: scale(1.05);
}
.tab-skill:hover {
  color: #ff014f;
  cursor: pointer;
  transform: scale(1.05);
}
.skill-item {
  height: 14px;
  background-color: #d6d6d6;
  border-radius: 80px;
  display: flex;
  align-items: center;
}
.skill-item div:nth-child(1) {
  height: 12px;
  background: linear-gradient(
    90deg,
    rgba(255, 255, 255, 1) 0%,
    rgba(255, 1, 79, 1) 100%
  );
  border-radius: 80px;
  animation: load 2s 0s;
  -webkit-animation: load 2s 0s;
  -moz-animation: load 2s 0s;
  -o-animation: load 2s 0s;
}

@keyframes load {
  from {
    width: 0%;
  }
}
@-webkit-keyframes load {
  from {
    width: 0%;
  }
}
@-moz-keyframes load {
  from {
    width: 0%;
  }
}
@-o-keyframes load {
  from {
    width: 0%;
  }
}
.skill-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 40px;
}
.skill {
  min-width: 300px;
  display: flex;
  flex-direction: column;
  gap: 30px;
  flex: 1;
}
.design-skill-box {
  display: flex;
  flex-direction: column;
  gap: 16px;
}
.design-skill-title {
  font-size: 24px;
}
.skill-box-item {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

@media screen and (min-width: 240px) {
  main {
    margin: 100px 10px;
  }
}

/*Iphone(480 x 640)*/
@media screen and (min-width: 320px) {
  main {
    margin: 100px 8px;
  }
  .right-menu {
    display: none;
  }
}
/*Tablet nhỏ(480 x 640)*/
@media screen and (min-width: 480px) {
  main {
    margin: 100px 10px;
  }
  .right-menu {
    display: none;
  }
}
/*Ipad dọc(768 x 1024)*/
@media screen and (min-width: 768px) {
  main {
    margin: 100px 100px;
  }
  .right-menu {
    display: flex;
    gap: 30px;
    margin-right: 80px;
  }
}
/*Ipad ngang(1024 x 768)*/
@media screen and (min-width: 1024px) {
  main {
    margin: 100px 120px;
  }
}
@media screen and (min-width: 1524px) {
  main {
    margin: 100px 284px;
  }
}
